@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=DM+Sans:wght@300;400;600;700&display=swap');
@import "tailwindcss";
@import "@mnee-ui/ui/styles";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background: #ffffff;
  color: rgb(10, 10, 10);
}
